<%- include('../top') -%>

<h1>Hello World</h1>

<ul class="container messages">
  <% for (let message of messages) { %>
    <li>
      <b><%= message.user %></b>: <%= message.text %>
      <br>
      <small><%= message.added %></small>
    </li>
  <% } %>
</ul> 

<a href="/messages/new">New Message</a>

<%- include('../bottom') -%>