<%- include('../top') -%>

<h1>Message Board</h1>

<ul class="container messages">
  <% for (let message in messages) { %>
    <li>
      <b><%= messages[message].user %></b>: <%= messages[message].text %>
      <br>
      <small>
        <%= messages[message].added %> | <a href="messages/<%= message %>">View</a>
      </small>
    </li>
  <% } %>
</ul> 

<a href="/messages/new">New Message</a>

<%- include('../bottom') -%>