<%- include('../top') -%>

<h1>Viewing Message</h1>

<p>
  <b>Username:</b> <%= message.username %> <br>
  <b>Text: </b> <%= message.message %> <br>
  <b>Date sent: </b> <%= message.date %> <br>
</p>

<a href="/messages">Go Back</a>

<%- include('../bottom') -%>